.myHobby-id-container {
  @include flexbox($flex-direction: column);
  margin: 1rem;
  @include desktop {
    margin: 1rem 2rem;
  }
  figure {
    margin: 0 auto;
    position: relative;
    width: 230px;
    height: 250px;
    div {
      overflow: visible !important;
      border-radius: 5px;
      box-shadow: 0 0 0.625rem $boxshadow-color;
      .myhobby-img {
        object-fit: cover;
        object-position: 50% 50%;
        border-radius: 5px;
        opacity: 0;
        opacity: opacity 0.4s;
        &[data-isvisible='true'] {
          opacity: 1;
        }
      }
    }
  }
  .title {
    @include flexbox($flex-direction: column, $align-items: flex-start);
    margin-top: 1.5rem;
    @include tablet {
      margin-top: 0.5rem;
    }
    @include desktop {
      @include flexbox($flex-direction: row, $align-items: center);
    }
    h1 {
      margin: 0 0 0.5rem 0;
      @include desktop {
        margin: 0 0.5rem 0 0;
      }
    }
    .btn {
      @include flexbox($flex-direction: column, $align-items: center);
      button {
        font-size: 1rem;
        @include flexbox(
          $flex-direction: column,
          $align-items: center,
          $justify-content: center
        );
        @include desktop {
          border: 1px solid $bg-color;
        }
      }
      span {
        font-size: 0.5rem;
        margin: 0.3rem 0 0 0;
        @include desktop {
          display: none;
        }
      }
    }
  }
  hr {
    border: none;
    border: 1px solid $hover-lightgreen;
    width: 100%;
    margin: 0.2rem 0 1rem 0;
  }
  p {
    line-height: 1.6rem;
    white-space: pre-line;
  }
  .history {
    h2 {
      margin: 1.5rem 0 0 0;
    }
    section {
      h3,
      h4 {
        margin: 0 0 0.5rem 0;
      }
      h3 {
        color: $green;
      }
      p {
        margin: 0 0 1.5rem 0;
      }
    }
  }
}

.authenticating {
  margin: 1rem;
}
