.hobbylist-container {
  width: 100%;
  overflow-x: hidden;
  .list {
    background-color: rgba($light-green, 0.2);
    .row {
      @include flexbox($align-items: center, $justify-content: center);
      .hobby-item {
        @include flexbox(
          $flex-direction: column,
          $align-items: center,
          $justify-content: center
        );
        border-radius: 5px;
        background-color: $light-green;
        padding: 0.2rem;
        @include desktop {
          transition: transform 0.2s;
          &:hover {
            transform: scale(1.05);
            cursor: pointer;
            box-shadow: 0 0 0.625rem $boxshadow-color;
          }
        }
        p {
          text-align: center;
        }
      }
    }
  }
}
