.my-hobbylist-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: 160px;
  gap: 0.5rem;
  margin-bottom: 2rem;
  @include desktop {
    gap: 0.8rem;
  }
  .hobby-item {
    @include flexbox($flex-direction: column, $align-items: center);
    position: relative;
    border-radius: 5px;
    @include desktop {
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
    .hobby-img-container {
      position: relative;
      width: 100%;
      height: 100%;
      div {
        overflow: visible !important;
        border-radius: 5px;
        box-shadow: 0 0 0.625rem $boxshadow-color;
        .myhobbylist-img {
          object-fit: cover;
          object-position: 50% 50%;
          border-radius: 5px;
          opacity: 0;
          opacity: opacity 0.4s;
          &[data-isvisible='true'] {
            opacity: 1;
          }
        }
      }
    }
    .no-img {
      background-color: $hover-lightgreen;
      border-radius: 5px;
      width: 100%;
      height: 100%;
      box-shadow: 0 0 0.625rem $boxshadow-color;
    }
    .img-overlay {
      @include flexbox($align-items: center, $justify-content: center);
      position: absolute;
      background-color: $light-green;
      opacity: 0.9;
      padding: 0.2rem;
      width: 100%;
      height: 3.2rem;
      bottom: 0;
      border-radius: 0 0 5px 5px;
      p {
        color: $black;
        text-align: center;
      }
    }
  }
}
